<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Rafael Timoteo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Projeto Academy</title>
</head>
<body>
    
   <div th:replace="fragmentos/fragmentos :: cabecalho"></div>

    <main>
        <section class="neo-section">
            <div class="texto-main">
                <h1>Sistema de gerenciamento de alunos</h1>
            </div>
            <div class="wm">
                <a class="btn btn-primary" th:href="@{inserirAlunos}">CADASTRAR ALUNO</a>
            </div>
            <div class="wm">
                <a class="btn btn-success" th:href="@{filtro-alunos}">ENCONTRAR ALUNO</a>
            </div>
        </section>
    </main>
    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>